<h2 class="add">Add A Comment</h2>
<form class="add-comment">
  <label for="comment">Comment</label>
  <textarea id="comment"></textarea>
  <label for="name">Who is submitting this comment?</label>
  <input type="text" id="name">
  <input id="submit-comment" type="submit" value="SUBMIT">
</form>
<p class="submitted hidden">Comment added!</p>
