<li>
  <p>{{comment}}</p>
  <small>-{{name}}</small>
  <div class="edit comment-button">
    {{#link-to "edit-comment" (query-params id=comment_id) class="edit edit-button"}}EDIT{{/link-to}}
    <a href="#" id="delete-comment" class={{comment_id}}>DELETE</a>
  </div>
</li>
<p id="deleted" class="hidden">Comment deleted!</p>
