<h2>DONATE</h2>
<p class="cancer">All donations go to support stomach cancer research by the American Cancer Society&reg;</p>
<form class="donate">
  <label for="amount">How much would you like to donate?</label>
  <label for="amount" id="dollar">$</label>
  <input type="text" id="amount">
</form>
{{stripe-checkout
  name="Harry Potter"
  description="and the Sorcerer's Stomach"
  onToken=(action "thanks")
}}
<p class="thanks hidden">Thank you for your donation of $<p class="amount hidden"></p>!</p>
