<h2>DONATE</h2>
<p class="cancer">All donations go to support stomach cancer research</p>
<form>
  <label for="amount">How much would you like to donate?</label>
  <input type=text id="amount">
</form>
{{stripe-checkout
  name="Harry Potter"
  description="and the Sorcerer's Stomach"
  amount=2000
}}
