<h2 class="edit">Edit</h2>
<form class="edit-quote">
  <textarea id={{id}}>{{text}}</textarea>
  <input id="edit-quote" type="submit" value="SAVE CHANGES">
</form>
<p class="edited hidden">Changes saved!</p>
