<footer>
  <small>&copy;2018 Amber Johnson</small>
  <a href="https://www.github.com/amberjohnsonsmile">GitHub</a>
  <a href="https://www.linkedin.com/in/amberjohnsonsmile">LinkedIn</a>
  <a href="mailto:amberjohnsonsmile@gmail.com">Email</a>
</footer>
