<nav>
  <div>
    <a href='/'>QUOTES</a>
    <a href='/random'>RANDOM</a>
    <a href='/favorites'>FAVES</a>
    <a href='/add'>ADD</a>
    <a href='/donate'>DONATE</a>
  </div>
  <h1>Harry Potter and the Sorcerer's Stomach</h1>
</nav>
