<nav>
  <div>
    {{#link-to "index"}}QUOTES{{/link-to}}
    {{#link-to "comment-list"}}COMMENTS{{/link-to}}
    {{#link-to "add"}}ADD{{/link-to}}
    {{#link-to "donate"}}DONATE{{/link-to}}
  </div>
  <h1>Harry Potter and the Sorcerer's Stomach</h1>
</nav>
