<h2 class="edit">Edit</h2>
<form class="edit-comment">
  <textarea id={{id}}>{{comment}}</textarea>
  <input id="edit-comment" type="submit" value="SAVE CHANGES">
</form>
<p class="edited hidden">Changes saved!</p>
