<li class="quote">
  <q class={{id}}>{{quote}}</q>
  <small>-{{source}}</small>
  {{#unless isReal}}
    <div class="edit">
      {{#link-to "edit" (query-params id=id) class="edit-button"}}EDIT{{/link-to}}
      <a href="#" id="delete">DELETE</a>
    </div>
  {{/unless}}
</li>
