<form>
  <button action="submit">generate</button>
</form>
<div class="random hidden">
  <q>"Harry felt as though his insides had turned to ice."</q>
  <small>-Harry Potter and the Sorcerer's Stone</small>
</div>
