@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Tangerine|Lato');

@font-face {
  font-family: DeliciousRoman;
  src: url(/hp-font.TTF);
}

/* Main page */

html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background: url('https://images.unsplash.com/photo-1502476698613-931a9afd2488') no-repeat fixed center;
  background-size: cover;
}

.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 2rem;
  background: rgba(255, 255, 255, .5);
  position: sticky;
}

nav a {
  padding-right: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2.5rem;
  padding-top: .5rem;
  font-family: DeliciousRoman, serif;
}

main {
  flex: 1;
  text-align: center;
}

p {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: right;
  font-family: Tangerine, sans-serif;
  font-size: 2.5rem;
  padding: 1rem 2.5rem 0 0;
}

button {
  margin-top: 8rem;
  height: 4rem;
  width: 15rem;
  color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8);
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-size: 1rem;
}

button:hover {
  background: rgba(0, 0, 0, 0.7);
}

button:focus {
  border: 3px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px white;
}

.edit {
  margin-top: 1rem;
}

.edit a {
  background: gray;
  background-image: linear-gradient(to bottom, dimgray, gray);
  color: #ffffff;
  font-size: 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
}

.edit a:hover {
  background: darkgray;
  background-image: linear-gradient(to bottom, gray, darkgray);
  text-decoration: none;
}

.quote-list {
  margin: 2rem 0 6rem 0;
}

.quote {
  display: block;
  margin: 0 10%;
  padding: 3rem;
  background: rgba(255, 255, 255, .6);
  text-align: left;
  font-size: 1.5rem;
}

q {
  display: block;
  margin-bottom: .5rem;
}

.quote small {
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background: rgba(255, 255, 255, .5);
  position: sticky;
}

footer a {
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}

/* Add page */

.add-quote, .edit-quote, .add-comment {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 20%;
}

h2 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-size: 2.5rem;
  padding-top: 5rem;
  text-transform: uppercase;
  color: white;
  font-family: DeliciousRoman;
}

label {
  padding: 2rem 0 1rem 0;
  font-size: 1.5rem;
  text-align: left;
}

textarea, input {
  width: 100%;
  margin-bottom: 1rem;
}

input, textarea {
  border: 1px solid #DDDDDD;
  outline: none;
}

input:focus, textarea:focus {
  box-shadow: 0 0 10px white;
  border: 1px solid white;
}

textarea, #name {
  padding: 1rem;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

textarea {
  height: 8rem;
  font-size: 1.5rem;
}

#name {
  height: 3rem;
  font-size: 1.5rem;
}

#submit-quote, #edit-quote, #submit-comment {
  margin-top: 1rem;
  height: 4rem;
  color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-size: 1rem;
}

#submit-quote:hover, #edit-quote:hover, #submit-comment:hover {
  background: rgba(0, 0, 0, 0.7);
}

#submit-comment {
  margin-bottom: 10rem;
}

.submitted {
  text-align: center;
}

/* Edit page */

.edit {
  padding-bottom: 2rem;
}

/* Donate page */

.cancer {
  text-align: center;
}

.donate {
  padding-top: 6rem;
}

.donate label {
  color: white;
}

#dollar {
  padding-left: 1rem;
}

#amount {
  width: 6rem;
  height: 2rem;
  font-size: 1.5rem;
}

.stripe-checkout {
  width: 33.5rem;
  margin-top: .5rem;
}

/* Random */
.random {
  display: block;
  margin: 6rem 10% 0 10%;
  padding: 3rem;
  background: rgba(255, 255, 255, .6);
  text-align: left;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

/* Edit */

.edited {
  text-align: center;
}

/* Comment */
.comment {
  margin-top: 10rem;
}

.comment * {
  text-align: center;
}

.comments-box h2 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.comments-box ul {
  display: block;
  margin: 0 10% 5rem 10%;
  padding: 3rem;
  background: rgba(255, 255, 255, .6);
}

.comments-box p {
  font-family: Lato, sans-serif;
  text-shadow: none;
  color: black;
  font-size: 1.5rem;
  text-align: left;
}

.comments-box small {
  display: block;
  text-align: left;
  margin: 1rem 0;
}

.add-comment-component h2 {
  margin-top: 8rem;
}

.add-comment-component .submitted {
  margin: -10rem 0 10rem 0;
}
