{{quote-stomach class="comment" id=model.quotes.quote.id quote=model.quotes.quote.quote source=model.quotes.quote.source isReal=model.quotes.quote.isReal comments=model.comments}}
{{#if model.comments.quoteComments}}
  <div class="comments-box">
    <h2>COMMENTS</h2>
    <ul>
      {{#each model.comments.quoteComments as |comment|}}
        {{comments-box comment=comment.comment name=comment.name}}
      {{/each}}
    </ul>
  </div>
{{/if}}
